#card-menu:hover {
	border: 2px solid skyblue;
}

/*@media only screen and (max-width: 991px) {
	#card-menu {
		display: flex;
		flex-direction: row;
	}
}*/

	#card-body:hover {
	  border: 2px solid orangered;
	  transition: ease-in 0.4s;
	}
	#card-body {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 150px;
	/*      transition: border 0.5s ease;*/

	}

/*	#card-user {
		display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 0.2cm;
        margin: 0 auto;
        width: auto;
        height: auto;
        page-break-inside: avoid;
	}*/